img{
display: block;
width: 70%;
height: auto;
}

#img50{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width: 50%;
}

#siteaspeto{
  color: white;
  background-color: #48494a;
  text-align: center;
 } 

.centeritems{
  text-align: center;
 } 

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: grey; 
  text-decoration: underline;
}

a:visited {
  color: white;
}

a:active {
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

.flexbox {
  display: flex;
  align-items: center;
  gap:10px;
  max-width: 80%;
  margin: 0 auto;
}

.flexbox img {
  height: 80%;
  width: auto;
  object-fit: cover;
}


