img{
display: block;
width: 70%;
height: auto;
}

#siteaspeto{
  color: white;
  background-color: #48494a;
  text-align: center;
 } 

.flexbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right:auto;
}

.centeritems{
  text-align: center;
 } 

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: grey; 
  text-decoration: underline;
}

a:visited {
  color: white; /* Changes color for visited links */
}

a:active {
  color: white;
}

