/* font */

.extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
.light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
.regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
.extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

.size20 {
    font-size: 20px;
}

.size70 {
    font-size: 70px;
}

/* This is a comment */

img {
    width: 100%;
    height: auto;
}

body {
    margin: 0;
    cursor: url('imagens/cursor.png') 16 16, auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; 
    padding: 15px 20px;
}

main {
    padding: 10px 20px;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.banner-content {
    position: absolute;
    top: 15%;
    left: 2%;
   
    text-align: left;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.watch-button {
    display: inline-block;
    background-color: #ff6666;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 15px;
}

.watch-button:hover {
    background-color: #cc3333;
}

.colorbrown {
    background-color: #877761;
}

.colorblue {
    background-color: #379DAB;
}


/* content */

.displayflex {
    display: flex;
    align-items: center;
}

.displayrelative {
    position: relative;
}

.spacebetween {
    justify-content: space-between;
}

.flexstart {
    justify-content: flex-start;
}

.flexcenter {
    justify-content: center;
}

/* img-width */

.width10 {
    width: 10%;
}

.width20 {
    width: 20%;
}

.width40 {
    width: 40%;
}

.width50 {
    width: 50%;
}

.width80 {
    width: 80%;
}

.width100 {
    width: 100%;
}

/* margins */

.marginR30 {
    margin-right: 30px;
}

.marginBzero {
    margin-bottom: 0;
}

.marginB45 {
    margin-bottom: 45px;
}

.marginTzero {
    margin-top: 0;
}

.marginT10{
    margin-top: 10px;
}

.paddingBT25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

/* text */

.txtcenter {
    text-align: center;
}

.txtleft {
    text-align: left;
}

.white {
    color: white;
}


/* carousel */

.character-carousel {
    overflow: hidden; 
    margin: 20px 0;
  }
  
  .carousel-container {
    transition: transform 0.5s ease-in-out; 
  }
  
  .carousel-item {
    flex: 0 0 20%; 
  }
  
  .carousel-item img { 
    border-radius: 15px;
    transition: transform 0.3s ease; 
  }
  
  .carousel-item img:hover {
    transform: scale(1.05);
  }
  
  .carousel-item p {
    font-size: 20px;
    margin-top: 10px;
  }