#cenasmeio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    margin: 0;
    flex-direction: column;
}

#cenasmeio img{
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.cor {
    background-color: black;
    transition: background-color 0.5s ease;
}

.cor.light-on {
    background-color: white;
}

